html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.navigation {
  padding: 16px;
  background: oldlace;
}

.form {
  width: 300px;
}

.form textarea {
  width: 300px;
  height: 300px;
}
.form__item {
  display: block;
  width: 200px;
}
body {
  background: lightgreen;
  display: flex;
  align-content: center;
  justify-content: center;
}
